/* Footer.css */
.footer-container {
    background-color: #2c0347;
    /* Roxo escuro */
    color: white;
    padding: 30px 20px;
    text-align: center;
    border-top: 4px solid #820AD1;
    margin-top: auto;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.footer-logo {
    width: 50px;
    height: auto;
    opacity: 0.9;
    filter: brightness(0) invert(1);
}

.footer-links {
    display: flex;
    gap: 25px;
    /* Mais espaço entre os ícones */
    margin-top: 10px;
}

.footer-link {
    color: #d8adf5;
    /* Lilás claro */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Animação Suave */
    transition: color 0.3s, transform 0.3s;
}

/* Efeito Hover: Fica Branco e Sobe */
.footer-link:hover {
    color: #ffffff;
    transform: translateY(-5px) scale(1.1);
    /* Sobe e aumenta levemente */
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
    /* Brilho */
}

.footer-copy {
    font-size: 12px;
    color: #aaa;
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 15px;
    width: 100%;
}